<div class="topindex">
    <div class="blognamebox"> Shan Blog </div>
    <LinkTo @route="adminpage" class="Abutton" id="Admin" >Admin</LinkTo>
    <LinkTo @route="homepage" class="gbutton" id="Guest" onclick={{action "profileName"}}>Guest</LinkTo>
    <LinkTo @route="loginpage" class="Lbutton" >Login</LinkTo>

</div>
<div class="fulldiv2">  
   
 <div  class="welcome" >Welcome  To  My  Blog</div>

<div class="rightimage"></div>
<div class="leftimage"></div>
<div class="midleimage"></div> 
<div class="image1"></div>
<div class="image2"></div>
</div>