{{#if valuepass1}}
<div class="fulldiv">

         <div class="homeTittle">
                <div class="homeImage"></div>
                 <div class="homesearchIteam">
                <input type="text" placeholder="Search" class="search">
                 <div class="searchBut" ></div>
                </div>
                <div class="homeIcons">
                  <LinkTo @route="index" class="image3"></LinkTo>
                  <div class="image4"></div>
                  <div class="image5"></div>
                </div>  
         </div>
  <h1 class="usernames">User Name List</h1>

    <div class="usreDetailList">
        {{#each userdetail as |userdetail|}}
            <div class="details">{{ userdetail.name}} </div> 
        {{/each}} 
    </div>
      <LinkTo @route="homepage" class="backbutton3" >Back</LinkTo>

</div>
{{/if}}